<h2> Olá {{ username }} </h2>
<p>
  Parece que você solicitou uma recuperação da sua senha,
  caso queira prosseguir clique no link abaixo:
</p>
<p>
<a href="" target="_blank">Recuperar Senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, proteja usa conta.
</p>

<p>
  <strong>Equipe Automação</strong>
</p>
